! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #101010
xscreensaver.Dialog.background:         #D8D8D8
xscreensaver.Dialog.topShadowColor:     #D8D8D8
xscreensaver.Dialog.bottomShadowColor:  #D8D8D8
xscreensaver.Dialog.Button.foreground:  #101010
xscreensaver.Dialog.Button.background:  #E5E5E5
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #101010
xscreensaver.Dialog.text.background:    #E5E5E5
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #101010
xscreensaver.passwd.thermometer.background:  #2E2E2E
xscreensaver.passwd.thermometer.width:       8

! urxvt config
!URxvt*transparent: true
!URxvt*tintColor: #555753
!URxvt*shading: 40
URxvt*saveLines: 12000
!URxvt*foreground: White
!URxvt*background: Black
!#URxvt*font: xft:Bitstream Vera Sans Mono:pixelsize=12:antialias=true:hinting=true
!#URxvt*boldFont: xft:Bitstream Vera Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
URxvt*font: xft:neep:pixelsize=11
URxvt*boldFont: xft:neep:pixelsize=11
!#URxvt*font: xft:Liberation Mono:pixelsize=13:antialias=true:hinting=true
!#URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=13:antialias=true:hinting=true
!#URxvt*font: xft:terminus:pixelsize=15
!#URxvt*boldFont: xft:terminus:bold:pixelsize=15
!#URxvt*font:-*-courier-medium-r-normal-*-14-*-*-*-*-*-iso8859-1
!#URxvt*boldFont:-*-courier-bold-r-normal-*-14-*-*-*-*-*-iso8859-1
!URxvt*color4: RoyalBlue
!URxvt*color12: RoyalBlue
URxvt*scrollBar: false
!URxvt*scrollBar_right: false
!URxvt*scrollstyle: rxvt
!URxvt.depth: 32
!URxvt.background: rgba:1111/1111/1111/ddde


!________ URXVT THEMES________________
!___GUIDE___
! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white

!___LIGHT THEME___

!urxvt*foreground: #f2f2f2
!urxvt*background: #101010
!urxvt*color0:    #6c6c6c
!urxvt*color1:    #e9897c
!urxvt*color2:    #b6e77d
!urxvt*color3:    #ecebbe
!urxvt*color4:    #a9cdeb
!urxvt*color5:    #ea96eb
!urxvt*color6:    #c9caec
!urxvt*color7:    #f2f2f2
!urxvt*color8:    #747474
!urxvt*color9:    #f99286
!urxvt*color10:    #c3f786
!urxvt*color11:    #fcfbcc
!urxvt*color12:    #b6defb
!urxvt*color13:    #fba1fb
!urxvt*color14:    #d7d9fc
!urxvt*color15:    #e2e2e2

!___TANGO THEME___
*foreground: white
*background: #222222

*color0:  #2E3436
*color1:  #CC4B00
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #06989A
*color7:  #babdb9

*color8:  #555753
*color9:  #EF7229
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #34E2E2
*color15: #EEEEEC


! clickable urls urxvt
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/iceweasel
URxvt.matcher.button:   1

